@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text);
}

@media (hover: hover) {
  a:hover {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
  }
}
